{% extends 'common.html' %}

{% block content %}

{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Profile</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css" media="all" />

</head>

<body>
    <div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo" href="index.html">Profile</a>
        </div>
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <form  method="post" class="">
                        {% csrf_token %}
                        {% if a %}
                        <div class="form-grid">
                            <div class="input-field">
                                <label> Username </label>
                                <input type="text" name="name" id="name" value={{data.name}} required="">
                            </div>
                            <div class="input-field">
                                <label> email </label>
                                <input type="email" name="email" id="email" value={{data.email}} readonly>
                            </div>
                            <div class="input-field">
                                <label> Address</label>
                                {% comment %} <input type="text" name="address" id="address" value={{data.address}} required=""> {% endcomment %}
                                <textarea name="address">{{data.address}}</textarea>
                            </div>
                            <div class="input-field">
                                <label>phone number </label>
                                <input type="number" name="phone" id="phone" value={{data.phone}} required="">
                            </div>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-style">Update Profile</button>
                       
                    </form>
                </div>
                
            </div>
        <!-- //main content -->
        {% if message %}<script>alert("{{message}}")</script>{% endif %}
        
    </div>

    <!-- fontawesome v5-->
    <script src="{% static 'js/fontawesome.js' %} "></script>

</body>

</html>

{% endblock %}